.order_menu{
text-align:center;
}

.block_category{
text-align: center;
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 20px;
width:300px;
}
.block_category a{
 text-decoration: none;
 color:black;
}
.category_card{
border:3px solid #00FFFF;
padding:10px;
margin-top:5px;
border-radius:25px;
width:300px;
}
.category_card:hover{
border-color:red;
}